/* styles were pretty much stolen from @maxogden's monocles project:
   https://github.com/maxogden/monocles */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
  background-color: #eee }


header {
  z-index: 4;
  position: relative;
  margin: -2em;
    margin-bottom: 2em;
  color: black;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#222222));
  background: -moz-linear-gradient(19% 75% 90deg, #222222, #666666);
  background-color: #666666;
  padding: 0;
   padding-top: 5px;
  border-bottom: 1px solid #cccccc;
}

header h1 {
  margin-left: 2em;
  color: #999;
}

h3 {
  font-size: 1em;
  color: #606060;
}

ul {
  list-style-type: none;
  padding: 0;
}

.chirp {
  border: 2px solid #606060;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D8D8D8), to(#B6B6B6));
  background: -moz-linear-gradient(19% 75% 90deg, #D8D8D8, #B6B6B6);
  background-color: #B6B6B6;
  width: 500px;
  padding: 8px;
  margin-bottom: 5px;
}

.chirp-body {

}

.chirp-date {
    font-size: 0.7em;
}
